<div class="user-auth">
    <div class="myDiv">
       <h1>Forgot password</h1>
       <form class="common-form">
         <p class="error-p"></p>
         <input
           type="text"
           class="form-input"
           name="email"
           placeholder="Enter User Email"
           [(ngModel)]="email"
         />
       <br>
       <br>
       <button class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
       <br>
       <br>
       <p><a href="/login">Back to Login</a></p>
       </form>
      </div> 
      </div>